body {
  background-color: rgba(45, 52, 54,1.0);
  text-align: center;
}

.color1 {
  color: #ecf0f1;
}

.color2 {
  color: #1abc9c;
}

#page-div {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0,0.2);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: rgba(45, 52, 54,1.0);
}

.nav-link {
  color: #1abc9c;
}
.nav-link:hover {
  color: #ecf0f1;
  transition: 0.8s;
}

.navbar-brand {
  color: #ecf0f1;
}
.navbar-brand:hover {
  color: #6c5ce7;
  transition: 0.8s;
}

.header {
  font-family: 'Roboto', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #6c5ce7;
  text-decoration: none;
  transition: 0.8s;
}

.btn {
  display: inline-block;
  margin: 4px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.btn i {
  font-size: 20px;
  line-height: 30px;
  transition: 0.2s linear;
}

.btn:hover i {
  color: #6c5ce7;
  transform: scale(1.3);
}
