body {
  background-color: rgba(45, 52, 54,1.0);
  background-image: url("backdrop.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.color1 {
  color: #ecf0f1;
}

.navbar-toggler-icon {
  color:white;
}

.color2 {
  color: #74b9ff;
}

.div-padding {
  padding-top: 80px;
}

#page-div {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0,0.8);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #74b9ff;
}

/* Normal Navigation Bar */
nav {
  background-color: rgba(45, 52, 54,0.8);
}

.nav-link {
  color: #74b9ff;
}
.nav-link:hover {
  color: #ecf0f1;
  transition: 0.8s;
}

.navbar-brand {
  color: #ecf0f1;
}
.navbar-brand:hover {
  color: #a29bfe;
  transition: 0.8s;
}

/* Side Navigation Bar */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.openbtn {
  text-align: left;
  padding-left: 15px;
  font-size: 25px;
}

.header {
  font-family: 'Roboto', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #a29bfe;
  text-decoration: none;
  transition: 0.8s;
}

.btn {
  display: inline-block;
  margin: 4px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.btn i {
  font-size: 18px;
  line-height: 25px;
  transition: 0.2s linear;
}

.btn:hover i {
  color: #6c5ce7;
  transform: scale(1.3);
}

table {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

tr {
  text-align: center;
}

.small-img {
  width: 100px;
}

.smaller-text {
  font-size: 12px;
}
